body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
}

header,
#header,
footer,
#footer,
nav,
section {
    display: block;
}

header, .header, footer, .footer, #content {
    padding: 5px 20px;
}

header, .header {
    height: 100px;
}

#content {
    min-height: 400px;
}

footer, .footer {
    height: 50px;
    margin: 0 auto;
    width: 250px;
}