/*green:  #4ba685*/
/*grey:   #323247*/
/*blue:   #333a66*/
/*orange: #db5544*/
/*yellow: #deb940*/

body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #333a66;
    background: #cfcfbf;
    margin-left: 50px;
    margin-right: 50px;
}

header,
#header,
footer,
#footer,
nav,
section {
    color: #db5544;
    display: block;
}

header, .header, footer, .footer, #content {
    padding: 10px 20px;
    margin: 20px 0px;
}

header, .header {
    min-height: 100px;
}

#content {
    min-height: 400px;
    background: #4a9e33;
}

footer, .footer {
    height: 50px;
    margin: 0 auto;
    width: 250px;
}

.title-text {
    font-size: 72px;
    font-weight: bold;
}

.subtitle-text {
    font-size: 36px;
    font-weight: bold;
}