<div class="row-fluid">
    <div class="padding-wrapper row-member">
        <img id="logo" src="" />
    </div>
    <div class="padding-wrapper row-member">
        <h1 class="title-text">
            TalentSwap
        </h1>
        <h3 class="subtitle-text">
            Think Foreign Exchange for Professionals
        </h3>
    </div>
</div>